- if @entry.word.present?
  .col-6.offset-md-3.mt-5
    .card
      .card-header= @entry.word
      .card-body
        - @entry.definitions.each do |definition|
          %p= definition
- else
  .col-6.offset-md-3.mt-5
    No meaning found.
