= form_tag search_path, method: :get, class: "d-flex mx-md-5" do
  = text_field_tag :w, params[:w], class: "form-control mr-2", placeholder: "Search a definition"
  = submit_tag 'Search', class: "btn btn-outline-dark"

