%h1.text-center Welcome
- @entries.each do |entry|
  .col-6.offset-md-3.mt-5
    .card
      .card-header= entry.word
      .card-body
        %blockquote.blockquote.mb-0
          %p= entry.response
          %footer.blockquote-footer
            Someone famous in
            %cite{:title => "Source Title"} Source Title

